In [1]:
import pandas as pd
import nltk
from nltk.corpus import stopwords, sentiwordnet as swn
from nltk.stem import WordNetLemmatizer
from nltk import ngrams
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.decomposition import LatentDirichletAllocation
import collections
!pip install vaderSentiment
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
#from stop_words_list import stop_words_list
#from wn_affect import wn_affect 
import matplotlib.pyplot as plt

Collecting vaderSentiment
  Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
     |████████████████████████████████| 125 kB 7.6 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (3.0.4)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [2]:
data = pd.read_csv("/content/Topic_Modelling_data_filtered.csv")
data.head()

   Unnamed: 0  ...                                               Text
0           2  ...  yesterday jan we flew colombo sri lanka to par...
1          14  ...  it was very nice having a wide body with a lie...
2          23  ...  short crowded turbulent flight excellent atten...
3          31  ...  paris cdg to warsaw august th economy class as...
4          36  ...  the worst experience i have had during my inte...

[5 rows x 30 columns]

In [17]:
data.isna().sum()
data.shape

(12878, 30)

In [31]:
data.dropna(subset=["Text"],inplace=True)

In [33]:
data.shape

(12876, 30)

In [43]:
# apply sentiment analysis
analyzer = SentimentIntensityAnalyzer()

sentiment_score_list = []
sentiment_label_list = []

for i in data['Text'].values.tolist():
    sentiment_score = analyzer.polarity_scores(i)

    if sentiment_score['compound'] >= 0.05:
        sentiment_score_list.append(sentiment_score['compound'])
        sentiment_label_list.append('Positive')
    elif sentiment_score['compound'] > -0.05 and sentiment_score['compound'] < 0.05:
        sentiment_score_list.append(sentiment_score['compound'])
        sentiment_label_list.append('Neutral')
    elif sentiment_score['compound'] <= -0.05:
        sentiment_score_list.append(sentiment_score['compound'])
        sentiment_label_list.append('Negative')
    
data['sentiment'] = sentiment_label_list
data['sentiment score'] = sentiment_score_list

data.head(100)

    Unnamed: 0  score  ... sentiment sentiment score
0            2    3.0  ...  Negative         -0.2551
1           14    5.0  ...  Positive          0.9846
2           23    7.0  ...  Positive          0.7506
3           31    2.0  ...  Negative         -0.2542
4           36    1.0  ...  Positive          0.6263
..         ...    ...  ...       ...             ...
95         723    4.0  ...  Positive          0.4714
96         734    9.0  ...  Positive          0.9897
97         736    3.0  ...  Positive          0.6362
98         739    1.0  ...  Negative         -0.1027
99         742    1.0  ...  Negative         -0.3315

[100 rows x 32 columns]

In [50]:
data.to_csv("sentiments_v1.csv")